<h1>Password Generator</h1>

<div>
  <label>Enter Length</label>
  <input (input)="onChangeLength($event)" />
</div>

<div>
  <label>Use Letters</label>
  <input (change)="onChangeSettings('includeLetters')()" type="checkbox" />
</div>

<div>
  <label>Use Numbers</label>
  <input (change)="onChangeSettings('includeNumbers')()" type="checkbox" />
</div>

<div>
  <label>Use Symbols</label>
  <input (change)="onChangeSettings('includeSymbols')()" type="checkbox" />
</div>

<div>
  <button
    [disabled]="
      !(length && (includeLetters || includeNumbers || includeSymbols))
    "
    (click)="onButtonClick()"
  >
    Generate
  </button>
</div>

<div>
  <label>Your Password</label>
  <input [value]="password" />
</div>
